P "CDS_LMAN_SYM_OUTLINE" "-7950,5450,0,0" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M -7850 5350 -7850 100 -1 0
M -100 5350 -7850 5350 -1 0
M -100 100 -7850 100 -1 0
M -100 5350 -100 100 -1 0
M -7950 5450 -7950 0 -1 0
M 0 5450 -7950 5450 -1 0
M 0 0 -7950 0 -1 0
M 0 5450 0 0 -1 0
M -2150 600 -100 600 -1 0
M -100 300 -1350 300 -1 0
M -1350 600 -1350 0 -1 0
M -2150 600 -2150 100 -1 0
M -700 0 -700 300 -1 0
M -7950 4690 -7850 4690 -1 0
M -7950 2345 -7850 2345 -1 0
M -7850 775 -7950 775 -1 0
M -7950 1565 -7850 1565 -1 0
M -7950 3125 -7850 3125 -1 0
M -7950 3910 -7850 3910 -1 0
M -2000 100 -2000 0 -1 0
M -4700 100 -4700 0 -1 0
M -5350 100 -5350 0 -1 0
M -6650 100 -6650 0 -1 0
M -7300 100 -7300 0 -1 0
M -3350 100 -3350 0 -1 0
M -4050 100 -4050 0 -1 0
M -2650 100 -2650 0 -1 0
M -6000 100 -6000 0 -1 0
M -3350 5450 -3350 5350 -1 0
M -2650 5450 -2650 5350 -1 0
M -2000 5450 -2000 5350 -1 0
M -700 5450 -700 5350 -1 0
M -1350 5450 -1350 5350 -1 0
M -4050 5450 -4050 5350 -1 0
M -7300 5450 -7300 5350 -1 0
M -5350 5450 -5350 5350 -1 0
M -6650 5450 -6650 5350 -1 0
M -6000 5450 -6000 5350 -1 0
M -4700 5450 -4700 5350 -1 0
M -100 4685 0 4685 -1 0
M -100 3905 0 3905 -1 0
M -100 3125 0 3125 -1 0
M -100 2345 0 2345 -1 0
M -100 1565 0 1565 -1 0
M -100 785 0 785 -1 0
M -100 200 -2150 200 -1 0
T -281 51 0 0 38 0 0 0 0 7 0
SIZE:A3
T -1300 250 0 0 38 0 0 0 0 6 74
SHEET:
T -2100 150 0 0 38 0 0 0 0 19 74
ALL RIGHTS RESERVED
T -379 5380 0 0 41 0 0 0 0 1 0
1
T -1029 5380 0 0 41 0 0 0 0 1 0
2
T -1654 5380 0 0 41 0 0 0 0 1 0
3
T -3704 5380 0 0 41 0 0 0 0 1 0
6
T -3054 5380 0 0 41 0 0 0 0 1 0
5
T -2304 5380 0 0 41 0 0 0 0 1 0
4
T -4329 5380 0 0 41 0 0 0 0 1 0
7
T -4979 5380 0 0 41 0 0 0 0 1 0
8
T -5629 5380 0 0 41 0 0 0 0 1 0
9
T -6283 5380 0 0 41 0 0 0 0 2 0
10
T -6958 5380 0 0 41 0 0 0 0 2 0
11
T -7919 4260 0 0 41 0 0 0 0 1 0
F
T -7924 4995 0 0 41 0 0 0 0 1 0
G
T -7919 3510 0 0 41 0 0 0 0 1 0
E
T -7919 2710 0 0 41 0 0 0 0 1 0
D
T -7919 460 0 0 41 0 0 0 0 1 0
A
T -7919 1135 0 0 41 0 0 0 0 1 0
B
T -7919 1910 0 0 41 0 0 0 0 1 0
C
T -7558 5380 0 0 41 0 0 0 0 2 0
12
T -69 1935 0 0 41 0 0 0 0 1 0
C
T -69 1160 0 0 41 0 0 0 0 1 0
B
T -69 2710 0 0 41 0 0 0 0 1 0
D
T -69 3535 0 0 41 0 0 0 0 1 0
E
T -69 4285 0 0 41 0 0 0 0 1 0
F
T -74 5020 0 0 41 0 0 0 0 1 0
G
T -6283 55 0 0 41 0 0 0 0 2 0
10
T -6958 55 0 0 41 0 0 0 0 2 0
11
T -7558 55 0 0 41 0 0 0 0 2 0
12
T -4329 55 0 0 41 0 0 0 0 1 0
7
T -4979 55 0 0 41 0 0 0 0 1 0
8
T -5629 55 0 0 41 0 0 0 0 1 0
9
T -2304 55 0 0 41 0 0 0 0 1 0
4
T -3054 55 0 0 41 0 0 0 0 1 0
5
T -3704 55 0 0 41 0 0 0 0 1 0
6
T -1654 55 0 0 41 0 0 0 0 1 0
3
T -379 55 0 0 41 0 0 0 0 1 0
1
T -1029 55 0 0 41 0 0 0 0 1 0
2
T -1300 150 0 0 38 0 0 0 0 8 74
VERSION:
T -69 485 0 0 41 0 0 0 0 1 0
A
T -2100 375 0 0 47 0 0 0 0 15 74
SFDK CORPORATION
T -650 250 0 0 38 0 0 0 0 6 74
TOTAL:
P "CUSTOM_TXT_CDS" "<VER>" -650 153 0 0 38 0 0 0 0 0 1 0 32
P "COMMENT_BODY" "TRUE" -1825 -75 0 0 41 0 0 0 0 0 0 0 0
P "CUSTOM_TXT1_CDS" "MODULE_NAME" -755 430 0 0 57 0 0 1 0 0 1 0 0


