// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for Xilinx ZynqMP ZCU102 RevA
 *
 * (C) Copyright 2015 - 2020, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP 5Gcard";
	compatible = "xlnx,zynqmp-zcu102-revA", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";

	aliases {

		mdio-gpio1 = &mdio1;
		mdio-gpio2 = &mdio2;
		ethernet0 = &gem0;
		ethernet1 = &gem1;
		ethernet2 = &gem2;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &axi_uartlite_0;
		spi0 = &qspi;
	};

	chosen {
		bootargs = "earlycon ";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7fe00000>;
	};

	//The touchpad input is connected to a GPIO bit-banged I2C bus.
	/*SFP,129光口EEPROM*/
	gpio-i2c-0-129 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 97 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 96 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-1-129 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 101 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 100 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-2-129 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 105 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 104 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-3-129 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 109 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 108 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	
	/*SFP,130光口EEPROM*/
	gpio-i2c-0-130 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 113 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 112 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-1-130 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 117 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 116 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-2-130 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 121 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 120 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-3-130 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 125 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 124 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	
	/*SFP,131光口EEPROM*/
	gpio-i2c-0-131 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 129 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 128 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-1-131 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 133 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 132 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-2-131 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 137 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 136 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-3-131 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 141 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 140 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	


/*改由应用程序控制gpio测试
	leds {
		compatible = "gpio-leds";
		//灯:81-82
		MP_RUN {
			label = "MP_RUN";
			gpios = <&gpio 81 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_ALM {
			label = "MP_ALM";
			gpios = <&gpio 82 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		//预留测试点:84-91
		MP_IO0 {
			label = "MP_IO0";
			gpios = <&gpio 84 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_IO1 {
			label = "MP_IO1";
			gpios = <&gpio 85 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		MP_IO2 {
			label = "MP_IO2";
			gpios = <&gpio 86 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_IO3 {
			label = "MP_IO3";
			gpios = <&gpio 87 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		MP_IO4 {
			label = "MP_IO4";
			gpios = <&gpio 88 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_IO5 {
			label = "MP_IO5";
			gpios = <&gpio 89 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_IO6 {
			label = "MP_IO6";
			gpios = <&gpio 90 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		MP_IO7 {
			label = "MP_IO7";
			gpios = <&gpio 91 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		//与MCU通讯口io:92-95
		M_MCU_COM0 {
			label = "M_MCU_COM0";
			gpios = <&gpio 92 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		M_MCU_COM1 {
			label = "M_MCU_COM1";
			gpios = <&gpio 93 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		M_MCU_COM2 {
			label = "M_MCU_COM2";
			gpios = <&gpio 94 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		M_MCU_COM3 {
			label = "M_MCU_COM3";
			gpios = <&gpio 95 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		//129光口状态灯
		GTY_0_129_ACT {
			label = "GTY_0_129_ACT";
			gpios = <&gpio 98 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_0_129_LINK {
			label = "GTY_0_129_LINK";
			gpios = <&gpio 99 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_129_ACT {
			label = "GTY_1_129_ACT";
			gpios = <&gpio 102 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_129_LINK {
			label = "GTY_1_129_LINK";
			gpios = <&gpio 103 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_129_ACT {
			label = "GTY_2_129_ACT";
			gpios = <&gpio 106 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_129_LINK {
			label = "GTY_2_129_LINK";
			gpios = <&gpio 107 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_129_ACT {
			label = "GTY_3_129_ACT";
			gpios = <&gpio 110 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_129_LINK {
			label = "GTY_3_129_LINK";
			gpios = <&gpio 111 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		//130光口状态灯
		GTY_0_130_ACT {
			label = "GTY_0_130_ACT";
			gpios = <&gpio 114 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_0_130_LINK {
			label = "GTY_0_130_LINK";
			gpios = <&gpio 115 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_130_ACT {
			label = "GTY_1_130_ACT";
			gpios = <&gpio 118 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_130_LINK {
			label = "GTY_1_130_LINK";
			gpios = <&gpio 119 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_130_ACT {
			label = "GTY_2_130_ACT";
			gpios = <&gpio 122 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_130_LINK {
			label = "GTY_2_130_LINK";
			gpios = <&gpio 123 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_130_ACT {
			label = "GTY_3_130_ACT";
			gpios = <&gpio 126 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_130_LINK {
			label = "GTY_3_130_LINK";
			gpios = <&gpio 127 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		//131光口状态灯
		GTY_0_131_ACT {
			label = "GTY_0_131_ACT";
			gpios = <&gpio 130 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_0_131_LINK {
			label = "GTY_0_131_LINK";
			gpios = <&gpio 131 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_131_ACT {
			label = "GTY_1_131_ACT";
			gpios = <&gpio 134 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_131_LINK {
			label = "GTY_1_131_LINK";
			gpios = <&gpio 135 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_131_ACT {
			label = "GTY_2_131_ACT";
			gpios = <&gpio 138 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_131_LINK {
			label = "GTY_2_131_LINK";
			gpios = <&gpio 139 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_131_ACT {
			label = "GTY_3_131_ACT";
			gpios = <&gpio 142 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_131_LINK {
			label = "GTY_3_131_LINK";
			gpios = <&gpio 143 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

	};
*/
	mdio1: mdio-gpio1 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio 165 GPIO_ACTIVE_HIGH>, // mdc 
				<&gpio 166 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; // mdio 
								
		phy1: ethernet-phy@1 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x0>;
		};
		phy2: ethernet-phy@2 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x1>;
		};
		phy3: ethernet-phy@3 {
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x2>;
		};
		phy4: ethernet-phy@4 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x3>;
		};
	};

	mdio2: mdio-gpio2 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		 gpios = <&gpio 167 GPIO_ACTIVE_HIGH>, // mdc 
		 		<&gpio 168 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; // mdio 
								
		phy5: ethernet-phy@5 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x0>;
		};
		phy6: ethernet-phy@6 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x1>;
		};
		phy7: ethernet-phy@7 {
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x2>;
		};
		phy8: ethernet-phy@8 { 
				compatible = "ethernet-phy-ieee802.3-c45";
				reg = <0x3>;
		};
	};


};


&gic {
	num_cpus = <2>;
	num_interrupts = <96>;
};
&fpd_dma_chan1 {
	status = "okay";
};

&fpd_dma_chan2 {
	status = "okay";
};

&fpd_dma_chan3 {
	status = "okay";
};

&fpd_dma_chan4 {
	status = "okay";
};

&fpd_dma_chan5 {
	status = "okay";
};

&fpd_dma_chan6 {
	status = "okay";
};

&fpd_dma_chan7 {
	status = "okay";
};

&fpd_dma_chan8 {
	status = "okay";
};

&xilinx_ams {
	status = "okay";
};

&gpio {
	emio-gpio-width = <32>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
	status = "okay";
};


&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	local-mac-address = [00 0a 35 00 00 00];
	//xlnx,ptp-enet-clock = <0x0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem0_default>;
 	phy-handle = <&phy0>;
 	phy0: ethernet-phy@0 { // Marvell 88e1512 
 		reg = <0>;
 		reset-gpios = <&gpio 38 GPIO_ACTIVE_LOW>;
		device_type = "ethernet-phy";
		/* Set and/or override some configuration registers based on the
		* marvell,reg-init property stored in the of_node for the phydev.
		*
		* marvell,reg-init = <reg-page reg mask value>,...;
		*
		* There may be one or more sets of <reg-page reg mask value>:
		*
		* reg-page: which register bank to use.
		* reg: the register.
		* mask: if non-zero, ANDed with existing register value.
		* value: ORed with the masked value and written to the regiser.

		*寄存器页：使用哪个注册银行。
		*寄存器
		*掩码：如果非零，则与现有寄存器值进行与运算。
		*值：与掩码进行或运算并写入寄存器。
		*/
		marvell,reg-init = <0x3 0x10 0x0000 0x011>;//LED2:link LED1:activity
 	};



};

&gem1 {
	status = "okay";
	phy-handle = <&phy1>;
	phy-mode = "gmii";
	local-mac-address = [00 0a 35 00 00 01];
	xlnx,ptp-enet-clock = <0x0>;
};

&gem2 {
	status = "okay";
	phy-handle = <&phy5>;
	phy-mode = "gmii";
	local-mac-address = [00 0a 35 00 00 02];
	xlnx,ptp-enet-clock = <0x0>;
};


&gpu {
	status = "okay";
	xlnx,tz-nonsecure = <0x0>;
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
	ds3231: ds3231@51 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		interrupt-parent = <&gpio>;
		interrupts = <80 0>;
	};
};

&i2c1 {
	clock-frequency = <50000>;
	status = "okay";
};


&qspi {

	status = "okay";
	is-dual = <0>;
	flash@0 {
		compatible = "mt25qu02g", "jedec,spi-nor"; /* U11 and U12 MT25QU02GCBBE12 1Gb */
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		spi-max-frequency = <10000000>; /* Based on DC1 spec */
		partition@boot {//qspi_image.bin,程序空间
			label = "qspi_image.bin";
			reg = <0x0 0x3e90000>;
		};
		partition@APP {//给用户使用的分区
			label = "APP";
			reg = <0x3e90000 0xc170000>;
		};

	};
};


&sata {

	status = "okay";
	/* SATA OOB timing settings */
	ceva,p0-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p0-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p0-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p0-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	ceva,p1-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p1-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p1-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p1-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	phy-names = "sata-phy";
	//devicetree/bindings/phy/phy-zynqmp.txt
	phys = <&lane3 PHY_TYPE_SATA 1 1 125000000>;

	
};

&serdes {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};
&sdhci1 {
	clock-frequency = <99999001>;
	status = "okay";
	xlnx,mio_bank = <0x1>;
	/*
	 * 1.0 revision has level shifter and this property should be
	 * removed for supporting UHS mode
	 */
	no-1-8-v;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	xlnx,mio_bank = <1>;
};


&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&pinctrl0 {
	status = "okay";
	pinctrl_gem0_default: gem0-default {
		mux {
			function = "ethernet0";
			groups = "ethernet0_0_grp";
		};

		conf {
			groups = "ethernet0_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO32", "MIO33", "MIO34", "MIO35", "MIO36",
									"MIO37";
			bias-high-impedance;
			low-power-disable;
		};

		conf-tx {
			pins = "MIO26", "MIO27", "MIO28", "MIO29", "MIO30",
									"MIO31";
			bias-disable;
			low-power-enable;
		};
		mux-mdio {
			function = "mdio0";
			groups = "mdio0_0_grp";
		};

		conf-mdio {
			groups = "mdio0_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};
	};
	

	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_0_grp";
			function = "sdio1";
		};

		conf {
			groups = "sdio1_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		mux-cd {
			groups = "sdio1_cd_0_grp";
			function = "sdio1_cd";
		};

		conf-cd {
			groups = "sdio1_cd_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};

		mux-wp {
			groups = "sdio1_wp_0_grp";
			function = "sdio1_wp";
		};

		conf-wp {
			groups = "sdio1_wp_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};
	};
};
