P "CDS_LMAN_SYM_OUTLINE" "-7950,5450,0,0" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M -7850 5350 -7850 100 -1 0
M -100 5350 -7850 5350 -1 0
M -100 100 -7850 100 -1 0
M -100 5350 -100 100 -1 0
M 0 5450 -7950 5450 -1 0
M -100 5250 -2650 5250 -1 0
M -2650 5450 -2650 4750 -1 0
M -100 4750 -2650 4750 -1 0
M -7950 5450 -7950 0 -1 0
M 0 5450 0 0 -1 0
M -100 600 -3750 600 -1 0
M -1350 600 -1350 0 -1 0
M -2950 600 -2950 100 -1 0
M -100 300 -2950 300 -1 0
M -3750 600 -3750 100 -1 0
M 0 0 -7950 0 -1 0
M -1350 400 -2950 400 -1 0
M -1350 500 -2950 500 -1 0
M -575 5250 -575 4750 -1 0
M -950 4750 -950 5250 -1 0
M -2200 4750 -2200 5250 -1 0
M -2450 4750 -2450 5250 -1 0
M -2650 5050 -100 5050 -1 0
M -100 4950 -2650 4950 -1 0
M -2650 5150 -100 5150 -1 0
M -100 4850 -2650 4850 -1 0
M -700 0 -700 300 -1 0
M -7950 4690 -7850 4690 -1 0
M -7950 2345 -7850 2345 -1 0
M -7950 3910 -7850 3910 -1 0
M -7850 775 -7950 775 -1 0
M -7950 1565 -7850 1565 -1 0
M -7950 3125 -7850 3125 -1 0
M -4050 100 -4050 0 -1 0
M -4700 100 -4700 0 -1 0
M -5350 100 -5350 0 -1 0
M -6000 100 -6000 0 -1 0
M -6650 100 -6650 0 -1 0
M -7300 100 -7300 0 -1 0
M -3350 100 -3350 0 -1 0
M -2650 100 -2650 0 -1 0
M -2000 100 -2000 0 -1 0
M -2000 5450 -2000 5350 -1 0
M -1350 5450 -1350 5350 -1 0
M -700 5450 -700 5350 -1 0
M -4050 5450 -4050 5350 -1 0
M -3350 5450 -3350 5350 -1 0
M -6650 5450 -6650 5350 -1 0
M -7300 5450 -7300 5350 -1 0
M -6000 5450 -6000 5350 -1 0
M -4700 5450 -4700 5350 -1 0
M -5350 5450 -5350 5350 -1 0
M -100 1565 0 1565 -1 0
M -100 4685 0 4685 -1 0
M -100 3905 0 3905 -1 0
M -100 3125 0 3125 -1 0
M -100 2345 0 2345 -1 0
M -100 785 0 785 -1 0
M -1850 600 -1850 100 -1 0
M -2500 600 -2500 100 -1 0
M -100 200 -3750 200 -1 0
T -625 250 0 0 38 0 0 0 0 6 74
TOTAL:
T -325 45 0 0 33 0 0 0 0 7 0
SIZE:A3
T -65 450 0 0 41 0 0 0 0 1 0
A
T -1675 550 0 0 38 0 0 0 0 4 74
DATE
T -1275 250 0 0 38 0 0 0 0 6 74
SHEET:
T -1275 150 0 0 38 0 0 0 0 8 74
VERSION:
T -2275 550 0 0 38 0 0 0 0 4 74
SIGN
T -3340 383 0 0 47 0 0 1 0 15 74
SFDK CORPORATION
T -3700 150 0 0 38 0 0 0 0 19 74
ALL RIGHTS RESERVED
T -2900 250 0 0 38 0 0 0 0 8 74
CHECKED:
T -2900 350 0 0 38 0 0 0 0 9 74
DESIGNER:
T -2900 450 0 0 38 0 0 0 0 7 74
DRAWER:
T -3025 45 0 0 41 0 0 0 0 1 0
5
T -7920 4985 0 0 41 0 0 0 0 1 0
G
T -65 4250 0 0 41 0 0 0 0 1 0
F
T -65 1900 0 0 41 0 0 0 0 1 0
C
T -7915 450 0 0 41 0 0 0 0 1 0
A
T -7915 1125 0 0 41 0 0 0 0 1 0
B
T -7915 2700 0 0 41 0 0 0 0 1 0
D
T -7915 1900 0 0 41 0 0 0 0 1 0
C
T -7915 3500 0 0 41 0 0 0 0 1 0
E
T -850 5200 0 0 38 0 0 0 0 4 74
DATE
T -70 4985 0 0 41 0 0 0 0 1 0
G
T -65 2675 0 0 41 0 0 0 0 1 0
D
T -475 5200 0 0 38 0 0 0 0 8 74
APPROVED
T -1850 5200 0 0 38 0 0 0 0 11 74
DESCRIPTION
T -7915 4250 0 0 41 0 0 0 0 1 0
F
T -65 1125 0 0 41 0 0 0 0 1 0
B
T -7600 45 0 0 41 0 0 0 0 2 0
12
T -7000 45 0 0 41 0 0 0 0 2 0
11
T -6325 45 0 0 41 0 0 0 0 2 0
10
T -5650 45 0 0 41 0 0 0 0 1 0
9
T -5000 45 0 0 41 0 0 0 0 1 0
8
T -4350 45 0 0 41 0 0 0 0 1 0
7
T -3725 45 0 0 41 0 0 0 0 1 0
6
T -2325 45 0 0 41 0 0 0 0 1 0
4
T -1675 45 0 0 41 0 0 0 0 1 0
3
T -1050 45 0 0 41 0 0 0 0 1 0
2
T -400 45 0 0 41 0 0 0 0 1 0
1
T -400 5395 0 0 41 0 0 0 0 1 0
1
T -1050 5395 0 0 41 0 0 0 0 1 0
2
T -1675 5395 0 0 41 0 0 0 0 1 0
3
T -3075 5395 0 0 41 0 0 0 0 1 0
5
T -3725 5395 0 0 41 0 0 0 0 1 0
6
T -4350 5395 0 0 41 0 0 0 0 1 0
7
T -5000 5395 0 0 41 0 0 0 0 1 0
8
T -5650 5395 0 0 41 0 0 0 0 1 0
9
T -6325 5395 0 0 41 0 0 0 0 2 0
10
T -7000 5395 0 0 41 0 0 0 0 2 0
11
T -7600 5395 0 0 41 0 0 0 0 2 0
12
T -65 3500 0 0 41 0 0 0 0 1 0
E
T -1675 5300 0 0 47 0 0 0 0 9 74
REVISIONS
T -2400 5200 0 0 38 0 0 0 0 5 74
SHEET
T -2325 5395 0 0 41 0 0 0 0 1 0
4
T -2625 5200 0 0 38 0 0 0 0 4 74
ITEM
T -2900 150 0 0 38 0 0 0 0 9 74
APPROVED:
P "CUSTOM_TXT_CDS" "<VER>" -625 153 0 0 38 0 0 0 0 0 1 0 0
P "CUSTOM_TXT3_CDS" "NAME2" -2175 353 0 0 38 0 0 1 0 0 1 0 0
P "CUSTOM_TXT9_CDS" "20XX-XX-XX" -1775 153 0 0 38 0 0 0 0 0 1 0 0
P "CUSTOM_TXT6_CDS" "20XX-XX-XX" -1774 453 0 0 38 0 0 0 0 0 1 0 0
P "CUSTOM_TXT7_CDS" "20XX-XX-XX" -1774 353 0 0 38 0 0 0 0 0 1 0 0
P "CUSTOM_TXT8_CDS" "20XX-XX-XX" -1775 253 0 0 38 0 0 0 0 0 1 0 0
P "COMMENT_BODY" "TRUE" -1825 -75 0 0 41 0 0 0 0 0 0 0 0
P "CUSTOM_TXT4_CDS" "NAME3" -2175 253 0 0 38 0 0 1 0 0 1 0 0
P "CUSTOM_TXT5_CDS" "NAME4" -2175 153 0 0 38 0 0 1 0 0 1 0 0
P "CUSTOM_TXT2_CDS" "NAME1" -2175 453 0 0 38 0 0 1 0 0 1 0 0
P "CUSTOM_TXT1_CDS" "BOARD_NAME" -736 429 0 0 57 0 0 1 0 0 1 0 0


