// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for Xilinx ZynqMP ZCU102 RevA
 *
 * (C) Copyright 2015 - 2020, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP 5Gcard";
	compatible = "xlnx,zynqmp-zcu102-revA", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";

	aliases {

		//ethernet0 = &xxv_ethernet_0;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &axi_iic_0;
		mmc0 = &sdhci1;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi0 = &qspi;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>;
	};
/*
	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		sw19 {
			label = "sw19";
			gpios = <&gpio 22 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_DOWN>;
			wakeup-source;
			autorepeat;
		};
	};

	leds {
		compatible = "gpio-leds";
		heartbeat-led {
			label = "heartbeat";
			gpios = <&gpio 23 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
*/

	//The touchpad input is connected to a GPIO bit-banged I2C bus.
	gpio-i2c-0 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 78 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 79 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};

	gpio-i2c-1 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 80 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 81 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-2 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 82 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 83 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-3 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 84 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 85 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-4 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 86 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 87 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	gpio-i2c-5 {
		compatible = "i2c-gpio";
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		sda-gpios = <&gpio 88 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 89 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c08";
		   reg = <0x50>;
		};
	};
	leds {
		compatible = "gpio-leds";
		GTY_0_128_LINK {
			label = "heartbeat";
			gpios = <&gpio 52 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_0_128_ACT {
			label = "heartbeat";
			gpios = <&gpio 53 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		GTY_1_128_LINK {
			label = "heartbeat";
			gpios = <&gpio 54 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_128_ACT {
			label = "heartbeat";
			gpios = <&gpio 55 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		GTY_0_129_LINK {
			label = "heartbeat";
			gpios = <&gpio 56 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_0_129_ACT {
			label = "heartbeat";
			gpios = <&gpio 57 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		GTY_1_129_LINK {
			label = "heartbeat";
			gpios = <&gpio 58 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_1_129_ACT {
			label = "heartbeat";
			gpios = <&gpio 59 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		GTY_2_129_LINK {
			label = "heartbeat";
			gpios = <&gpio 60 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_2_129_ACT {
			label = "heartbeat";
			gpios = <&gpio 61 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		GTY_3_129_LINK {
			label = "heartbeat";
			gpios = <&gpio 62 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		GTY_3_129_ACT {
			label = "heartbeat";
			gpios = <&gpio 63 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

};


&gic {
	num_cpus = <2>;
	num_interrupts = <96>;
};
&lpd_dma_chan1 {
	status = "okay";
};
&lpd_dma_chan2 {
	status = "okay";
};
&lpd_dma_chan3 {
	status = "okay";
};
&lpd_dma_chan4 {
	status = "okay";
};
&lpd_dma_chan5 {
	status = "okay";
};
&lpd_dma_chan6 {
	status = "okay";
};
&lpd_dma_chan7 {
	status = "okay";
};
&lpd_dma_chan8 {
	status = "okay";
};
&xilinx_ams {
	status = "okay";
};
&fpd_dma_chan1 {
	status = "okay";
};
&fpd_dma_chan2 {
	status = "okay";
};
&fpd_dma_chan3 {
	status = "okay";
};
&fpd_dma_chan4 {
	status = "okay";
};
&fpd_dma_chan5 {
	status = "okay";
};
&fpd_dma_chan6 {
	status = "okay";
};
&fpd_dma_chan7 {
	status = "okay";
};
&fpd_dma_chan8 {
	status = "okay";
};
&gpio {
	emio-gpio-width = <32>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
	status = "okay";
};
&gpu {
	status = "okay";
	xlnx,tz-nonsecure = <0x1>;
};
&i2c0 {
	clock-frequency = <400000>;
	status = "okay";


};
&i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	eeprom@50 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c1024";
		   reg = <0x50>;
		   pagesize = <256>;

		};

	eeprom@51 {
		   #address-cells = <1>;
		   #size-cells = <0>;
		   compatible = "atmel,24c1024";
		   reg = <0x51>;
			pagesize = <256>;

		};

	phc@5b {
		    #address-cells = <1>;
        	#size-cells = <0>;
            compatible = "idt,8a34004";
            reg = <0x5b>;
        };


};

&rtc {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};


&serdes {
	status = "okay";
};
&qspi {

	status = "okay";
	is-dual = <0>;
	flash@0 {
		compatible = "mt25qu02g", "jedec,spi-nor"; /* U11 and U12 MT25QU02GCBBE12 1Gb */
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		spi-max-frequency = <50000000>; /* Based on DC1 spec */

		partition@boot {
			label = "BOOT.BIN";
			reg = <0x0 0x23e0000>;
		};
		partition@kernel {
			label = "Image";
			reg = <0x23e0000 0xcf0000>;
		};
		partition@device_tree {
			label = "5Gcard.dtb";
			reg = <0x30d0000 0x10000>;
		};
		partition@rootfs {
			label = "uramdisk.image.gz";
			reg = <0x30e0000 0x600000>;
		};
		partition@boot.scr.uimg {
			label = "boot.scr.uimg";
			reg = <0x3e80000 0x10000>;
		};
		partition@APP {//给用户使用的分区
			label = "APP";
			reg = <0x3e90000 0xc170000>;
		};

	};
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	no-1-8-v;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	xlnx,mio_bank = <1>;
	disable-wp;
};


&pinctrl0 {
	status = "okay";
	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_0_grp";
			function = "sdio1";
		};

		conf {
			groups = "sdio1_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		mux-cd {
			groups = "sdio1_cd_0_grp";
			function = "sdio1_cd";
		};

		conf-cd {
			groups = "sdio1_cd_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};

		mux-wp {
			groups = "sdio1_wp_0_grp";
			function = "sdio1_wp";
		};

		conf-wp {
			groups = "sdio1_wp_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};
	};

	pinctrl_gpio_default: gpio-default {
		mux-sw {
			function = "gpio0";
			groups ="gpio0_52_grp", "gpio0_53_grp",
					"gpio0_54_grp", "gpio0_55_grp",
					"gpio0_56_grp", "gpio0_57_grp",
					"gpio0_52_grp", "gpio0_58_grp",
					"gpio0_59_grp", "gpio0_60_grp",
					"gpio0_61_grp", "gpio0_62_grp";
		};

		conf-sw {
			groups ="gpio0_52_grp", "gpio0_53_grp",
					"gpio0_54_grp", "gpio0_55_grp",
					"gpio0_56_grp", "gpio0_57_grp",
					"gpio0_52_grp", "gpio0_58_grp",
					"gpio0_59_grp", "gpio0_60_grp",
					"gpio0_61_grp", "gpio0_62_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS33>;
		};

		conf-pull-none {
			pins =  "MIO52", "MIO53",
					"MIO54", "MIO55",
					"MIO56", "MIO57",
					"MIO58", "MIO59",
					"MIO60", "MIO61",
					"MIO62", "MIO63";
			bias-disable;
		};
	};
};

